// Navigation Styles here

.header{
 display: flex;
 justify-content: space-evenly;
 border-bottom: dashed lightgrey 1.5px;
 padding: 2% 10% 2% 10%;

h1{   
    margin-right: 15%;
}

nav{
    padding-top: 1%;

    a{
       justify-content: space-evenly;
       text-decoration: none;
       color: black;
       font-size: 1.7rem;
       margin: 0 5px;
    
    }
}

}